{% extends 'layout/admin.html.twig' %}

{% block title %}Nouveau type de contrat | SyfonuRH{% endblock %}
{% block page_title %}Nouveau type de contrat{% endblock %}

{% block content %}
<div class="row g-6 mt-2">
  <div class="col-12">
    <div class="card card-lg">
      <div class="card-body p-6">
        <h5 class="mb-5">Créer un type</h5>
        {% include 'type_contrat/_form.html.twig' with { type: type, is_edit: false } %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

