DROP TABLE type_contrat;
ALTER TABLE user CHANGE role role VARCHAR(80) NOT NULL, CHANGE firstName firstName VARCHAR(255) DEFAULT NULL, CHANGE lastName lastName VARCHAR(255) DEFAULT NULL, CHANGE phone phone VARCHAR(20) DEFAULT NULL, CHANGE two_factor_code two_factor_code VARCHAR(10) DEFAULT NULL, CHANGE two_factor_expiry two_factor_expiry DATETIME DEFAULT NULL, CHANGE reset_token reset_token VARCHAR(100) DEFAULT NULL, CHANGE reset_token_expiry reset_token_expiry DATETIME DEFAULT NULL, CHANGE companyname companyname VARCHAR(255) DEFAULT NULL, CHANGE departement departement VARCHAR(255) DEFAULT NULL;
ALTER TABLE contract DROP FOREIGN KEY FK_E98F28592B8FF521;
ALTER TABLE contract DROP FOREIGN KEY FK_E98F2859520D03A;
DROP INDEX IDX_E98F28592B8FF521 ON contract;
DROP INDEX IDX_E98F2859520D03A ON contract;
ALTER TABLE contract CHANGE end_date end_date DATE DEFAULT NULL, CHANGE salaire_net salaire_net DOUBLE PRECISION DEFAULT NULL, CHANGE signed_at signed_at DATETIME DEFAULT NULL, CHANGE google_event_id_start google_event_id_start VARCHAR(255) DEFAULT NULL, CHANGE google_event_id_end google_event_id_end VARCHAR(255) DEFAULT NULL, CHANGE google_event_id_trial google_event_id_trial VARCHAR(255) DEFAULT NULL, CHANGE type_contrat_id contract_type_id INT DEFAULT NULL, CHANGE job_offre_id job_offer_id INT NOT NULL;
ALTER TABLE contract ADD CONSTRAINT FK_E98F2859CD1DF15B FOREIGN KEY (contract_type_id) REFERENCES contract_type (id) ON DELETE SET NULL;
ALTER TABLE contract ADD CONSTRAINT FK_E98F28593481D195 FOREIGN KEY (job_offer_id) REFERENCES job_offre (id) ON DELETE CASCADE;
CREATE INDEX IDX_E98F2859CD1DF15B ON contract (contract_type_id);
CREATE INDEX IDX_E98F28593481D195 ON contract (job_offer_id);
ALTER TABLE cv CHANGE full_name full_name VARCHAR(255) DEFAULT NULL, CHANGE email email VARCHAR(255) DEFAULT NULL, CHANGE phone phone VARCHAR(50) DEFAULT NULL, CHANGE address address VARCHAR(255) DEFAULT NULL, CHANGE birth_date birth_date DATE DEFAULT NULL, CHANGE title title VARCHAR(255) DEFAULT NULL, CHANGE cv_file cv_file VARCHAR(255) DEFAULT NULL;
ALTER TABLE forum_post CHANGE image_path image_path VARCHAR(255) DEFAULT NULL;
ALTER TABLE friend_message CHANGE read_at read_at DATETIME DEFAULT NULL;
ALTER TABLE interview CHANGE meeting_link meeting_link VARCHAR(255) DEFAULT NULL;
ALTER TABLE job_application CHANGE cv_path cv_path VARCHAR(255) DEFAULT NULL;
ALTER TABLE job_offre CHANGE location location VARCHAR(255) DEFAULT NULL, CHANGE salary salary DOUBLE PRECISION DEFAULT NULL, CHANGE publishedAt publishedAt DATETIME DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE expires_at expires_at DATETIME DEFAULT NULL, CHANGE employment_type employment_type VARCHAR(100) DEFAULT NULL, CHANGE user_id user_id INT DEFAULT NULL;
