<form method="post" action="{{ path('app_contract_delete', {'id': contract.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce contrat ?');" style="display:inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contract.id) }}">
    <button class="btn btn-sm btn-light border-0 shadow-sm" title="Supprimer">
        <i class="fas fa-trash-alt text-danger"></i>
    </button>
</form>
