{% extends 'base.html.twig' %}

{% block title %}Modifier le post{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier le post</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path('app_forum_post_show', {'id': post.id}) }}" class="btn btn-secondary">Annuler</a>
</div>
{% endblock %}
