{% extends 'layout/front.html.twig' %}
{% block title %}Forum | SyfonuRH{% endblock %}
{% block page_title %}Forum{% endblock %}
{% block content %}
<div class="card card-lg"><div class="card-body"><p class="text-secondary mb-0">Aucun sujet pour le moment.</p></div></div>
{% endblock %}
